*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, .7);
    
}

.aa{
    position: absolute;
    top:-30px;
    right: 180px;
}
.aa a:hover{
    color: blue;
}
body header ul li{
    display: inline-block;
    margin-top: 30px;
    padding: 30px;
}
body header ul li a {
    color:  white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
     
}
.a:hover{
    color:rgb(0,102,255) ;  
}
.logo{
    width: 138px;
    height: 36px;
    padding: 20px;

}

.button1 {
    color: white ;
    background-color: rgb(0,102,255);
    border-radius: 30px;
    height: 36px;
    width: 138px;
    float: right;
    margin-top: 25px;
    right: 5px;
    border:transparent;

}
.button1:hover{
  background-color  : white ;
  color  : rgb(0,102,255);  
} 
 #table{
     margin-top: 5%;
     color: black;
     background-color: white ;  
 }
 .IBM:hover{
    background-color: rgb(0,102,255); 
    
 }
 .back {
    
    border: 1px solid white;
    width:  400px;
    height: 500px;
    margin-left: 530px;
    background-image: url(flash.png);
    background-size: 100%;
    
 }
  table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center; 
    margin-left: 600px;
   
  }
   table,tr, td {
       padding-left: 10px;
       padding-right: 10px;
       padding-top: 20px;
       text-align: center; 
       border-collapse: collapse;
    }
 
 
 .event{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
    margin-left:200px;
    text-align: center;
    margin-top: 450px;
    color: white;
 }
  .inscris{
    margin-top: 10%;
}
.inscris h2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
    text-align: left;
    margin-top: 90px;
    font-weight: 500;
    letter-spacing: 0.08em;
    margin-left: 10%;
}
.button4{
    border-radius: 50px;
    margin-top: -3%;
    padding: 10px;
    height: 45px;
    width: 440px;
    float: right;
    color: white ;
    background-color: rgb(0,102,255);
    box-shadow: 0px 0px 60px 0px rgb(0, 153, 255);
    border:transparent;
}
.button4:hover{
    background-color  : white ;
    color  : rgb(0,102,255);  
  }
.footer{
background-color: black;
height: 120px;
width: 100%;
margin-top: 70px;

}
.pa{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    padding: 20px;
    letter-spacing: 0.08em;
}
.footer a{
    text-decoration: none;
    color: #038dfe;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
}
.CR{

text-align: center;
display: flex;
justify-content: center;
color: #666666;
font-family: 'Montserrat', sans-serif;
}
.RS{
font-family: 'Montserrat', sans-serif;
font-size: 14px;
line-height: 1.7;
color: #666666;
margin-top: -7%;
letter-spacing: 0.08em;
margin-left: 70%;
}
